@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

:root{
    --azulmarinho: #001F3F;
    --cinzaescuro: #343A40;
    --cinzaclaro: #6C757D;
}

body{
    margin-top: 60px;
    background-color: var(--cinzaclaro);
}

nav{
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    background-color:var(--azulmarinho);
    font-family: Georgia, 'Times New Roman', Times, serif;
}nav ul{
    display: flex;
    margin: 0;
    padding-left: 0;
}nav ul a{
    flex-grow: 1;
    padding: 20px;
    text-align: center;
    list-style-type: none;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: white;
}nav ul :hover{
    transition: background-color 0.3s;
    background-color: #003972;
}

header h1 {
    background-color: var(--cinzaescuro);
    margin-bottom: 0;
    padding: 20px;
    text-align: center;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    color: white;
}

main{
    padding: 20px;
    max-width: 50%;
    margin: 20px auto;
    background-color: white;
    border-radius: 5px;
    border: 2px solid black;
    box-shadow: 5px 5px 5px rgb(95, 95, 95);
}main h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
}.image {
    max-width: 100%;
    flex-grow: 1;
    text-align: center;
}

form input, label{
    margin: 5px;
    font-size: 20px;
}

.classForma{
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    max-width: 26%;
    width: 100%;
}.classButton{
    padding: 5px;
    color: white;
    border-radius: 10px;
    background-color: var(--azulmarinho);
}.classButton:hover{
    background-color: #003f7e;
    font-size: 22px;
    box-shadow: 5px 1px 10px rgb(65, 65, 65);
    transition: 0.5s;
    cursor: pointer;
}

.caixaResult{
    border: 1px solid black;
    border-radius: 10px;
    max-width: 22%;
    padding: 20px;
    margin-left: 5px;   
}
p{
    margin-bottom: 0;
    text-align: justify;
    font-size: 18px;
}

footer{
    background-color: var(--cinzaescuro);
    color: white;
    padding: 20px 10px;
}.linksFooter{
    display: flex;
    justify-content: space-between;
}footer dt{
    font-family: Georgia, 'Times New Roman', Times, serif
}footer dd, footer p{
    padding: 10px;
}
footer a{
    color: white;
}

@media (max-width: 572px){
    body{
        margin-top: 50px;
    }nav ul a{
        font-size: 18px;
        padding: 15px;
    }header h1{
        font-size: 30px;
    }
}@media (max-width: 900px){
    main {
        max-width: 100%;
        margin: 10px;
    }
}