@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

:root{
    --azulmarinho: #001F3F;
    --cinzaescuro: #343A40;
    --cinzaclaro: #6C757D;
}

body{
    margin-top: 70px;
    background-color: var(--cinzaclaro);
}

header h1 {
    background-color: var(--cinzaescuro);
    margin-bottom: 0;
    padding: 20px;
    text-align: center;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    color: white;
}

main{
    padding: 20px;
    max-width: 50%;
    margin: 20px auto;
    background-color: white;
    border-radius: 5px;
    border: 2px solid black;
    box-shadow: 5px 5px 5px rgb(95, 95, 95);
}main h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
}.image {
    max-width: 100%;
    flex-grow: 1;
    text-align: center;
}

form input, label{
    margin: 5px;
    font-size: 20px;
}

.classForma{
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    max-width: 26%;
}.classButton{
    padding: 5px;
    color: white;
    border-radius: 10px;
    background-color: var(--azulmarinho);
}.classButton:hover{
    background-color: #003f7e;
    font-size: 22px;
    box-shadow: 5px 1px 10px rgb(65, 65, 65);
    transition: 0.5s;
    cursor: pointer;
}

.caixaResult{
    border: 1px solid black;
    border-radius: 10px;
    max-width: 26%;
    padding: 10px;
    margin-left: 5px;   
}