*{
    margin: 0;
    padding: 0;
}

:root{
    --azulmarinho: #001F3F;
    --cinzaescuro: #343A40;
    --cinzaclaro: #6C757D;
}

body{
    margin-top: 70px;
    background-color: var(--cinzaclaro);
}

nav{
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    background-color:var(--azulmarinho);
    font-family: Georgia, 'Times New Roman', Times, serif;
}nav ul{
    display: flex;
    margin: 0;
    padding-left: 0;
}nav ul a{
    flex-grow: 1;
    padding: 20px;
    text-align: center;
    list-style-type: none;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: white;
}nav ul :hover{
    transition: background-color 0.3s;
    background-color: #003972;
}

header h1 {
    background-color: var(--cinzaescuro);
    margin-bottom: 0;
    padding: 20px;
    text-align: center;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    color: white;
}

main div img{
    height: 590px;
}.sessoes{
    margin: 20px;
}main div a, main div p{
    max-width: 500px;
    text-decoration: none;
}.formas{
    max-width: 70%;
    margin: auto;
}.formas :hover{
    background-color: rgb(219, 219, 219);
    transition: 1s;
}

h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
    font-weight: bold;
}

footer{
    background-color: var(--cinzaescuro);
    color: white;
    padding: 20px 50px;
}.linksFooter{
    display: flex;
    justify-content: space-between;
}footer dt{
    font-family: Georgia, 'Times New Roman', Times, serif;
}footer a{
    color: white;
}

@media (max-width: 1285px){
    main .sessoes img{
        height: 100%;
    }
}
@media (max-width: 700px){
    main div p{
        max-width: 100%;
    }main .formas{
        max-width: 100%;
    }.formas :hover{
        background-color: none;
    }
}
@media (max-width: 572px){
    body{
        margin-top: 55px;
    }nav ul a{
        font-size: 18px;
        padding: 15px;
    }header h1{
        font-size: 30px;
    }
}
@media(max-width: 483px){
    body{
        margin-top: 70px;
    }header h1{
        font-size: 25px;
    }
}